.Fronteview {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: space-between;
  background-color: rgba(255, 244, 223, 1);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logoContainer {
  display: flex;
  justify-content: start;
  align-items: center;
  z-index: 10;
  position: absolute;
  top: 2%;
  left: 2%;
  height: 2rem;
}
.Frontline{
    width: 75vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-size: 4rem;
    text-align: start;
    letter-spacing: 5px;
}

.Frontline>span> .img,.imgS,.img2{
 height: 38px;
}

@keyframes clipRightToLeft {
  0% {
    clip-path: inset(0 80% 0 0); 
  }
  25% {
    clip-path: inset(0 50% 0 0); 
  }
  50% {
    clip-path: inset(0 0 0 0); 
  }
  75% {
    clip-path: inset(0 30% 0 0); 
  }
  100% {
    clip-path: inset(0 80% 0 0); 
  }
}
@keyframes clipRightToLeft2 {
  0% {
    clip-path: inset(0 20% 0 0); 
  }
  25% {
    clip-path: inset(0 50% 0 0); 
  }
  50% {
    clip-path: inset(0 80% 0 0); 
  }
  75% {
    clip-path: inset(0 30% 0 0); 
  }
  100% {
    clip-path: inset(0 0 0 0); 
  }
}
.Frontline .img {
  animation: clipRightToLeft 10s infinite; /* Looping animation */
  transition: all 1s; /* Smooth transitions */
}
.Frontline .img2 {
  animation: clipRightToLeft2 10s infinite; /* Looping animation */
  transition: all 1s; /* Smooth transitions */
}