.Fronteview {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: space-between;
  background-color: rgba(255, 244, 223, 1);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logoContainer {
  display: flex;
  justify-content: start;
  align-items: center;
  z-index: 10;
  position: absolute;
  top: 2%;
  left: 2%;
  height: 2rem;
}
.Frontline{
    width: 75vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-size: xxx-large;
    text-align: start;
    letter-spacing: 5px;
}

.Frontline>span> img{
 height: 38px;
}

@keyframes imageWidthLoop {
  0% {
    width: 20%;  
  }
  25% {
    width: 25%;  
  }
  50% {
    width: 35%; 
  }
  75% {
    width: 30%;  
  }
  100% {
    width: 20%;  
  }
}
.Frontline img {
  animation: imageWidthLoop 10s infinite; /* 10 seconds, infinite loop */
  transition: all 1s; /* Smooth transitions */
}